# Shared
JWT_SECRET=change-this-in-production-must-be-at-least-256-bits-long
REDIS_HOST=localhost
REDIS_PORT=6379

# auth-service
DB_URL=jdbc:postgresql://localhost:5432/minipay_auth
DB_USERNAME=minipay
DB_PASSWORD=secret

# api-gateway
AUTH_SERVICE_URL=http://localhost:8081
WALLET_SERVICE_URL=http://localhost:8082

# kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# wallet-service
WALLET_DB_URL=jdbc:postgresql://localhost:5432/minipay_wallet
